<!DOCTYPE html>
<html>
  <head>
    <title>Kudos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div  class="container">
          <a class="navbar-brand" href="/">Kudos Project</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

              <%if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/kudos_transactions">Kudos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ><%= current_user.full_name %> (<%= current_user.organization.name%>)</a>
              </li>
              <li  class="nav-item">
                <a class="nav-link" v-on:click="signOut" href='#'>Sign Out</a>
              </li>
              <%else%>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up">Sign Up</a>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>

      <%= yield %>

      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show " role="alert">
          <%= flash[:notice]%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
          <%= flash[:alert]%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div v-bind:class='"alert alert-danger alert-dismissible fade show " + showSignOutError' role="alert">
        Sign out error! Please try again later.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <%= yield :script %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
